@import url('base.css');

header {
  display: flex;
  justify-content: flex-end;
}
nav ul {
  display: flex;
}
ul li {
  list-style: none;
}
ul li a {
  color: var(--gray-0);
  padding: var(--size-7);
}
main {
  padding: var(--size-relative-5);
}
article {
  background: var(--gray-8);
  box-shadow: var(--shadow-2);
  border-radius: var(--radius-conditional-3);
  border: var(--border-size-1) solid var(--gray-7);
  color: var(--gray-1);
  margin-top: var(--size-fluid-6);
  padding: var(--size-fluid-3);
}
pre {
  background: var(--blue-2);
  color: var(--blue-12);
  padding: var(--size-3);
  font-size: var(--size-4);
  font-weight: normal;
}
.c {
  margin: var(--size-7);
}

.c-columns {
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
  flex-shrink: 1;
}
.col.spaced {
  padding: var(--size-fluid-1) var(--size-fluid-4) var(--size-fluid-1) 0;
}
.c-bar {
  overflow: hidden;
  box-shadow: var(--inner-shadow-2), var(--shadow-1);
}

.c-bar > .c-columns > .col > .icon > svg {
  margin-right: var(--size-2);
  max-width: var(--size-relative-7);
}



.c-category-block .title {
  background-color: var(--skin-white);
  padding: var(--size-fluid-1) var(--size-fluid-2);
}
.c-category-block .text,
.c-collage .text {
  background-color: var(--gray-0);
  color: var(--gray-12);
  padding: var(--size-fluid-2) var(--size-fluid-2);
}
.c-stream-category img {
  width: var(--size-fluid-5);
}
.c-streamer-profile-pic img {
  width: var(--size-fluid-9);
}

.c-icon {
  max-width: var(--size-fluid-8);
}



.c-pills .pill {
  display: flex;
  min-width: var(--size-px-11);
  justify-content: center;
  padding: var(--size-1) var(--size-3);
  margin: var(--size-1);
  border-radius: var(--radius-conditional-2);
  color: var(--gray-0);
}

.c-collage .c-columns .col:first-of-type {
  display: flex;
  flex-shrink: 1;
  flex-grow: 0;
}
.c-collage .c-columns .col:last-of-type {
  display: flex;
  flex-flow: column nowrap;
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 710px;
  max-width: fit-content;
}
.c-stream-category img {
  min-width: 100px;
}

.c-text .text {
  line-height: 1;
  display: block;
}

.draggable div {
  background-color: var(--gray-0);
  text-align: center;
  padding: var(--size-3);
  margin: var(--size-1);
  border-radius: var(--radius-conditional-3);
  border: var(--border-size-1) solid var(--gray-1);
}

.draggable .sortable-chosen {
  background-color: var(--yellow-8);
}